
body {
    margin: 1em;
    padding: 1em;
    padding-bottom: 1.5em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* background-color: cornsilk; */
    background-color: rgb(73, 73, 73);
}
/* Navigation Bar */
.fixed-bar {
    background-color: #2d6b6d;
    position: fixed;
    width: 100%;
    height: 2em;
    opacity: 0.7;
    top: 0;
    left: 0;
}
.navbar {
    display: flex;
    justify-content: flex-end;
}

.navbar a {
    color: black;
    font-size: 1.3em;
    font-weight: bold;
    margin-right: .5em;
    padding: 0 .5em 0 .5em;
}

.navbar a:hover {
    color: gold;
    background-color: navy;
    block-size: 1.55em;
}

.navbar a:active {
    /* border-radius: 0 0 50% 50%;
    height: 2.2em; */
    transform: scaleX(1.10);
    /* replace with command to make grow in size on left and right*/
}

/* ---------Projects ------------- */

.projects{
    /* margin-left: 50px; */
}

#my-projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#card{
    width: 30%;
    max-height: 700px;
    margin: 10px;
    border: solid 5px black;
    overflow: scroll;
    background-color: white;
}

#project-image {
    height: auto;
    width: 70%;
    border-radius: 50%;
    border-style: double;
    background-color: rgb(197, 175, 133);
    box-shadow: 0px 0px 81px 13px rgba(171,166,171,1);
}

/* Index */
.index {
    /* width: 75%; */
    /* margin: 100px 0 0 100px; */
    /* position: relative; */
    /* background-image:  url(https://hdwallsource.com/img/2014/8/free-tennessee-wallpaper-33737-34497-hd-wallpapers.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
}

/* Footer */
.staydown {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1em;
    /* background-color: #a71414; */
    background-color: #2d6b6d;
    opacity: .9;
}
/* ----------Blogs----------- */

.blogs{
    background-color: rgb(73, 73, 73);
}

.blogContainer{
    margin: auto;
    width: 70%;
    border: 3px solid black;
    padding: 10px;
    margin-top: 15px;
    /* color: rgb(101, 180, 204); */
    background-color: rgb(154, 171, 189);
    font-family: 'Roboto Slab', serif;
    color: white;
}

/* .blogCard{
    border: red 10px;
} */

#seperate{
    /* box-shadow: 5px 5px 8px 5px #7c1e1e; */
    box-shadow: 0px 0px 30px 5px rgb(6, 7, 92);
    padding: 5px;
    border-radius: 1%;
    /* background-color: rgb(236, 228, 198); */
    background-color: rgb(136, 136, 167);
    /* height: 300px; */
    /* overflow: scroll; */
    color: black;
    margin-bottom: 85px;
    margin-top: 30px;
    width: 60%;
    margin-left: 20%;
}

#blogTitle{
    text-decoration: underline;
    color: white;
}

#blogDate{
    color: white;
}
