
body {
    margin: 1em;
    padding: 1em;
    padding-bottom: 1.5em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: rgb(73, 73, 73);
    color: rgb(209, 224, 231);
}

.index {
    margin-top: 25%;
}

.index h1 {
    font-family: 'Monoton', cursive;
    font-size: 60px;
    font-weight: bold;
    background: -webkit-linear-gradient(rgb(172, 209, 37), rgb(3, 20, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#fakeNav{
    background-color: black;
    font-size: 20px;
    margin: 0 -30px;
    opacity: .4;
    background-image: url(https://images.unsplash.com/photo-1503264116251-35a269479413?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=281dd3518c2edb68c31b19bbcb624a0f&auto=format&fit=crop&w=1650&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    transition: opacity .9s ease-in-out;
}

#fakeNav:hover{
    /* opacity: 1; */
    transition: .9s ease-in-out;
    animation: pulse 3s infinite;
}

/* Navigation Bar */
.navbar {
    background-color: #2d6b6d;
    position: fixed;
    width: 100%;
    opacity: 0.7;
    top: 0;
    left: 0;
}

.index .navbar:hover{
    opacity: 1;
    background-image: url(https://images.unsplash.com/photo-1503264116251-35a269479413?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=281dd3518c2edb68c31b19bbcb624a0f&auto=format&fit=crop&w=1650&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    transition: .999s ease-in-out;
    animation: pulse 4s infinite;
}

@keyframes pulse{
    0%{
        opacity: .4;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: .4;
    }
}

.navbar-inverse .navbar-brand {
    color: rgb(209, 224, 231);
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
    background-color: rgb(11, 90, 37);
    color: rgb(172, 209, 37);
}

.navbar-inverse .navbar-nav>li>a {
    color: rgb(209, 224, 231);
    font-weight: bold;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: rgb(172, 209, 37);
    background-color: rgb(11, 90, 37);
}

.navbar-inverse .navbar-nav>li>a:active{
    transform: scaleX(1.10);
}

/* ---------Projects ------------- */

.projects{
    margin-top: 25px;
    color: #2d6b6d;
}

#my-projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#card{
    width: 30%;
    max-height: 700px;
    margin: 10px;
    border: solid 5px black;
    overflow: scroll;
    background-color: white;
}

#project-image {
    height: 300px;
    width: 70%;
    border-radius: 25%;
    border-style: double;
    background-color: rgb(197, 175, 133);
    box-shadow: 0px 0px 81px 13px rgba(171,166,171,1);
}

/* Index */

.index {
    /* background-image: url(https://images.unsplash.com/photo-1460910996094-e71452a43cb0?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=acb3c0eaec1695200a469aa0b6250dfb&auto=format&fit=crop&w=1553&q=80); */
    background-image: url('../images/stars.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.pageNav {
    list-style-type: none;
}

.pageNav a {
    color: rgb(209, 224, 231);
}

/* Footer */
.staydown {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2em;
    /* background-color: #a71414; */
    background-color: #2d6b6d;
    opacity: .9;
}

.footIcons{
    margin-top: 3px;
}

.footIcons a{
    color: white;
    text-decoration: none;
}

.index .staydown{
    background-image: url(https://images.unsplash.com/photo-1503264116251-35a269479413?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=281dd3518c2edb68c31b19bbcb624a0f&auto=format&fit=crop&w=1650&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .8;
}
/* ----------Blogs----------- */

.blogs{
    background-color: rgb(73, 73, 73);
}

.blogContainer{
    margin: auto;
    width: 70%;
    border: 3px solid black;
    padding: 10px;
    margin-top: 30px;
    /* color: rgb(101, 180, 204); */
    /* background-color: rgb(154, 171, 189); */
    background-color: rgb(172, 209, 37);
    font-family: 'Roboto Slab', serif;
    /* color: rgb(209, 224, 231); */
    color: black;
}

#seperate{
    /* box-shadow: 5px 5px 8px 5px #7c1e1e; */
    box-shadow: 0px 0px 30px 5px rgb(6, 7, 92);
    padding: 5px;
    border-radius: 1%;
    /* background-color: rgb(236, 228, 198); */
    background-color: #2d6b6d;
    /* height: 300px; */
    /* overflow: scroll; */
    color: rgb(0, 0, 0);
    margin-bottom: 85px;
    margin-top: 30px;
    width: 60%;
    margin-left: 20%;
    font-size: 18px;
}

#blogTitle{
    text-decoration: underline;
    /* color: rgb(209, 224, 231); */
    color: black;
}

#blogDate{
    /* color: rgb(209, 224, 231); */
    color: black;
}

.fun-fact{
    background-image: url(https://flyawaysimulation.com/images/downloadshots/19306-citabrian53758zip-3-citabria-n53758-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
